openapi: 3.2.0
info:
  title: Microsoft Teams Members API
  description: Build apps and bots for Microsoft Teams via Microsoft Graph. Manage teams, channels, messages, members, and tabs programmatically.
  version: '1.0'
  contact:
    name: Microsoft Teams Developer Support
    url: https://developer.microsoft.com/en-us/microsoft-teams
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 Production
security:
- oauth2: []
tags:
- name: Members
  description: Manage team membership
paths:
  /teams/{teamId}/members:
    get:
      operationId: listTeamMembers
      summary: Microsoft List team members
      description: Get the members of a team.
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/teamId'
      responses:
        '200':
          description: List of team members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberCollection'
        '401':
          description: Unauthorized
    post:
      operationId: addTeamMember
      summary: Microsoft Add a team member
      description: Add a new member to a team.
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/teamId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMemberRequest'
      responses:
        '201':
          description: Member added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
components:
  schemas:
    MemberCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        value:
          type: array
          items:
            $ref: '#/components/schemas/Member'
    Member:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        roles:
          type: array
          items:
            type: string
        userId:
          type: string
        email:
          type: string
    AddMemberRequest:
      type: object
      required:
      - '@odata.type'
      - roles
      - user@odata.bind
      properties:
        '@odata.type':
          type: string
          default: '#microsoft.graph.aadUserConversationMember'
        roles:
          type: array
          items:
            type: string
        user@odata.bind:
          type: string
          description: URL reference to the user to add
  parameters:
    teamId:
      name: teamId
      in: path
      required: true
      description: Team unique identifier
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 via Microsoft identity platform
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Team.ReadBasic.All: Read teams
            Team.Create: Create teams
            Channel.ReadBasic.All: Read channels
            ChannelMessage.Read.All: Read channel messages
            ChannelMessage.Send: Send channel messages
            TeamMember.Read.All: Read team members
externalDocs:
  description: Microsoft Teams API Overview
  url: https://learn.microsoft.com/en-us/graph/teams-concept-overview
