openapi: 3.2.0
info:
  title: Microsoft Power BI REST Reports API
  description: REST APIs for embedded analytics, administration, governance, and content management in Power BI including datasets, reports, dashboards, groups, and imports.
  version: '1.0'
  contact:
    name: Power BI Developer Support
    url: https://learn.microsoft.com/en-us/power-bi/developer/
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.powerbi.com/v1.0/myorg
  description: Power BI REST API
security:
- oauth2: []
tags:
- name: Reports
  description: Manage Power BI reports
paths:
  /reports:
    get:
      operationId: listReports
      summary: Microsoft List reports
      description: Returns a list of reports from My workspace.
      tags:
      - Reports
      responses:
        '200':
          description: List of reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCollection'
        '401':
          description: Unauthorized
  /reports/{reportId}:
    get:
      operationId: getReport
      summary: Microsoft Get a report
      description: Returns the specified report from My workspace.
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/reportId'
      responses:
        '200':
          description: Report details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '401':
          description: Unauthorized
        '404':
          description: Report not found
    delete:
      operationId: deleteReport
      summary: Microsoft Delete a report
      description: Deletes the specified report from My workspace.
      tags:
      - Reports
      parameters:
      - $ref: '#/components/parameters/reportId'
      responses:
        '200':
          description: Report deleted
        '401':
          description: Unauthorized
components:
  schemas:
    Report:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        datasetId:
          type: string
        webUrl:
          type: string
        embedUrl:
          type: string
        reportType:
          type: string
    ReportCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        value:
          type: array
          items:
            $ref: '#/components/schemas/Report'
  parameters:
    reportId:
      name: reportId
      in: path
      required: true
      description: Report unique identifier
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://analysis.windows.net/powerbi/api/.default: Access Power BI
externalDocs:
  description: Power BI REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/power-bi/
