openapi: 3.2.0
info:
  title: Microsoft Bing Search News Search API
  description: Integrate Bing search capabilities into applications including web search, image search, news search, and video search.
  version: '7.0'
  contact:
    name: Bing Search APIs Support
    url: https://www.microsoft.com/en-us/bing/apis/
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.bing.microsoft.com/v7.0
  description: Bing Search API v7
security:
- apiKey: []
tags:
- name: News Search
  description: Search for news articles
paths:
  /news/search:
    get:
      operationId: newsSearch
      summary: Microsoft News search
      description: Returns news articles relevant to the given search query.
      tags:
      - News Search
      parameters:
      - name: q
        in: query
        required: true
        description: The search query string
        schema:
          type: string
      - name: count
        in: query
        schema:
          type: integer
          default: 10
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: mkt
        in: query
        schema:
          type: string
      - name: freshness
        in: query
        description: Filter by article freshness
        schema:
          type: string
          enum:
          - Day
          - Week
          - Month
      responses:
        '200':
          description: News search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsSearchResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    NewsSearchResponse:
      type: object
      properties:
        _type:
          type: string
        totalEstimatedMatches:
          type: integer
        value:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              url:
                type: string
              description:
                type: string
              datePublished:
                type: string
                format: date-time
              provider:
                type: array
                items:
                  type: object
                  properties:
                    _type:
                      type: string
                    name:
                      type: string
              category:
                type: string
  securitySchemes:
    apiKey:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
      description: Bing Search API subscription key
externalDocs:
  description: Bing Search APIs Documentation
  url: https://learn.microsoft.com/en-us/bing/search-apis/
