openapi: 3.2.0
info:
  title: Microsoft Intune Device Configuration API
  description: APIs for managing devices, apps, and compliance policies through Microsoft Graph for enterprise mobility and endpoint management.
  version: '1.0'
  contact:
    name: Microsoft Intune Support
    url: https://learn.microsoft.com/en-us/graph/intune-concept-overview
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0
security:
- oauth2: []
tags:
- name: Device Configuration
  description: Manage device configuration profiles
paths:
  /deviceManagement/deviceConfigurations:
    get:
      operationId: listDeviceConfigurations
      summary: Microsoft List device configurations
      description: List properties and relationships of device configuration objects.
      tags:
      - Device Configuration
      parameters:
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/top'
      responses:
        '200':
          description: List of device configurations
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeviceConfiguration'
        '401':
          description: Unauthorized
components:
  parameters:
    select:
      name: $select
      in: query
      schema:
        type: string
    top:
      name: $top
      in: query
      schema:
        type: integer
    filter:
      name: $filter
      in: query
      schema:
        type: string
  schemas:
    DeviceConfiguration:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        description:
          type: string
        createdDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
        version:
          type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            DeviceManagementManagedDevices.Read.All: Read managed devices
            DeviceManagementManagedDevices.ReadWrite.All: Read and write managed devices
            DeviceManagementApps.Read.All: Read mobile apps
            DeviceManagementConfiguration.Read.All: Read device configurations
externalDocs:
  description: Intune Graph API Overview
  url: https://learn.microsoft.com/en-us/graph/intune-concept-overview
