openapi: 3.2.0
info:
  title: Microsoft Entra ID Service Principals API
  description: APIs for identity and access management including user authentication, authorization, application registrations, service principals, and directory services via Microsoft Graph.
  version: '1.0'
  contact:
    name: Microsoft Entra Support
    url: https://learn.microsoft.com/en-us/entra/identity-platform/
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0
security:
- oauth2: []
tags:
- name: Service Principals
  description: Manage service principals
paths:
  /servicePrincipals:
    get:
      operationId: listServicePrincipals
      summary: Microsoft List service principals
      description: Retrieve a list of service principal objects.
      tags:
      - Service Principals
      parameters:
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/top'
      responses:
        '200':
          description: List of service principals
          content:
            application/json:
              schema:
                type: object
                properties:
                  '@odata.context':
                    type: string
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServicePrincipal'
        '401':
          description: Unauthorized
    post:
      operationId: createServicePrincipal
      summary: Microsoft Create a service principal
      description: Create a new service principal.
      tags:
      - Service Principals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - appId
              properties:
                appId:
                  type: string
                  description: Application (client) ID of the associated app registration
      responses:
        '201':
          description: Service principal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrincipal'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
components:
  parameters:
    select:
      name: $select
      in: query
      description: Properties to include
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Maximum number of items
      schema:
        type: integer
    filter:
      name: $filter
      in: query
      description: OData filter expression
      schema:
        type: string
  schemas:
    ServicePrincipal:
      type: object
      properties:
        id:
          type: string
        appId:
          type: string
        displayName:
          type: string
        servicePrincipalType:
          type: string
        appRoles:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              displayName:
                type: string
              value:
                type: string
              isEnabled:
                type: boolean
        oauth2PermissionScopes:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              value:
                type: string
              type:
                type: string
        createdDateTime:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Access Microsoft Graph
            Application.ReadWrite.All: Read and write all applications
            Directory.ReadWrite.All: Read and write directory data
externalDocs:
  description: Microsoft Entra ID Documentation
  url: https://learn.microsoft.com/en-us/entra/identity-platform/
