openapi: 3.2.0
info:
  title: Microsoft OneDrive Drives API
  description: Access and manage files stored in OneDrive and SharePoint through Microsoft Graph. Upload, download, share, and organize files and folders.
  version: '1.0'
  contact:
    name: OneDrive Developer Support
    url: https://developer.microsoft.com/en-us/onedrive
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 Production
security:
- oauth2: []
tags:
- name: Drives
  description: Access drives (OneDrive or document libraries)
paths:
  /me/drive:
    get:
      operationId: getCurrentUserDrive
      summary: Microsoft Get current user's drive
      description: Retrieve the properties and relationships of a user's OneDrive.
      tags:
      - Drives
      responses:
        '200':
          description: Drive details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
        '401':
          description: Unauthorized
components:
  schemas:
    Drive:
      type: object
      properties:
        id:
          type: string
        driveType:
          type: string
          enum:
          - personal
          - business
          - documentLibrary
        name:
          type: string
        owner:
          type: object
          properties:
            user:
              type: object
              properties:
                displayName:
                  type: string
                id:
                  type: string
        quota:
          type: object
          properties:
            total:
              type: integer
              format: int64
            used:
              type: integer
              format: int64
            remaining:
              type: integer
              format: int64
            state:
              type: string
              enum:
              - normal
              - nearing
              - critical
              - exceeded
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 via Microsoft identity platform
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Files.Read: Read user files
            Files.ReadWrite: Read and write user files
            Files.Read.All: Read all files user can access
            Files.ReadWrite.All: Full access to all files
externalDocs:
  description: OneDrive REST API Reference
  url: https://learn.microsoft.com/en-us/onedrive/developer/rest-api/
