openapi: 3.2.0
info:
  title: Microsoft Azure REST Subscriptions API
  description: REST APIs for managing Azure resources and services including subscriptions, resource groups, and deployments through the Azure Resource Manager.
  version: '2024-03-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://management.azure.com
  description: Azure Resource Manager Production
security:
- oauth2: []
tags:
- name: Subscriptions
  description: Manage Azure subscriptions
paths:
  /subscriptions:
    get:
      operationId: listSubscriptions
      summary: Microsoft List subscriptions
      description: Gets all subscriptions for a tenant.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResult'
        '401':
          description: Unauthorized
  /subscriptions/{subscriptionId}:
    get:
      operationId: getSubscription
      summary: Microsoft Get a subscription
      description: Gets details about a specified subscription.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          description: Unauthorized
        '404':
          description: Subscription not found
components:
  schemas:
    Subscription:
      type: object
      properties:
        id:
          type: string
          description: Fully qualified resource ID
        subscriptionId:
          type: string
          description: The subscription ID
        displayName:
          type: string
          description: The subscription display name
        state:
          type: string
          enum:
          - Enabled
          - Warned
          - PastDue
          - Disabled
          - Deleted
          description: The subscription state
        tenantId:
          type: string
          description: The subscription tenant ID
        subscriptionPolicies:
          type: object
          properties:
            locationPlacementId:
              type: string
            quotaId:
              type: string
            spendingLimit:
              type: string
              enum:
              - 'On'
              - 'Off'
              - CurrentPeriodOff
    SubscriptionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
        nextLink:
          type: string
          description: URL to get the next set of results
  parameters:
    apiVersion:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation
      schema:
        type: string
        default: '2024-03-01'
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription
      schema:
        type: string
        format: uuid
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
externalDocs:
  description: Azure REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/azure/
