openapi: 3.2.0
info:
  title: Microsoft Intune Managed Devices API
  description: APIs for managing devices, apps, and compliance policies through Microsoft Graph for enterprise mobility and endpoint management.
  version: '1.0'
  contact:
    name: Microsoft Intune Support
    url: https://learn.microsoft.com/en-us/graph/intune-concept-overview
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0
security:
- oauth2: []
tags:
- name: Managed Devices
  description: Manage enrolled devices
paths:
  /deviceManagement/managedDevices:
    get:
      operationId: listManagedDevices
      summary: Microsoft List managed devices
      description: List properties and relationships of managed device objects.
      tags:
      - Managed Devices
      parameters:
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/orderby'
      responses:
        '200':
          description: List of managed devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  '@odata.context':
                    type: string
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/ManagedDevice'
        '401':
          description: Unauthorized
  /deviceManagement/managedDevices/{managedDeviceId}:
    get:
      operationId: getManagedDevice
      summary: Microsoft Get a managed device
      description: Read properties of a managed device object.
      tags:
      - Managed Devices
      parameters:
      - name: managedDeviceId
        in: path
        required: true
        description: Managed device unique identifier
        schema:
          type: string
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Managed device details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedDevice'
        '401':
          description: Unauthorized
        '404':
          description: Device not found
  /deviceManagement/managedDevices/{managedDeviceId}/wipe:
    post:
      operationId: wipeManagedDevice
      summary: Microsoft Wipe a managed device
      description: Wipe a device, removing all data and resetting to factory defaults.
      tags:
      - Managed Devices
      parameters:
      - name: managedDeviceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Wipe initiated
        '401':
          description: Unauthorized
        '404':
          description: Device not found
  /deviceManagement/managedDevices/{managedDeviceId}/retire:
    post:
      operationId: retireManagedDevice
      summary: Microsoft Retire a managed device
      description: Retire a device, removing managed data while keeping personal data.
      tags:
      - Managed Devices
      parameters:
      - name: managedDeviceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Retire initiated
        '401':
          description: Unauthorized
components:
  parameters:
    top:
      name: $top
      in: query
      schema:
        type: integer
    filter:
      name: $filter
      in: query
      schema:
        type: string
    orderby:
      name: $orderby
      in: query
      schema:
        type: string
    select:
      name: $select
      in: query
      schema:
        type: string
  schemas:
    ManagedDevice:
      type: object
      properties:
        id:
          type: string
        deviceName:
          type: string
        managedDeviceOwnerType:
          type: string
          enum:
          - unknown
          - company
          - personal
        operatingSystem:
          type: string
        osVersion:
          type: string
        complianceState:
          type: string
          enum:
          - unknown
          - compliant
          - noncompliant
          - conflict
          - error
          - inGracePeriod
          - configManager
        model:
          type: string
        manufacturer:
          type: string
        serialNumber:
          type: string
        userPrincipalName:
          type: string
        userDisplayName:
          type: string
        emailAddress:
          type: string
        lastSyncDateTime:
          type: string
          format: date-time
        enrolledDateTime:
          type: string
          format: date-time
        managementAgent:
          type: string
          enum:
          - eas
          - mdm
          - easMdm
          - intuneClient
          - easIntuneClient
          - configurationManagerClient
          - unknown
        isEncrypted:
          type: boolean
        isSupervised:
          type: boolean
        jailBroken:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            DeviceManagementManagedDevices.Read.All: Read managed devices
            DeviceManagementManagedDevices.ReadWrite.All: Read and write managed devices
            DeviceManagementApps.Read.All: Read mobile apps
            DeviceManagementConfiguration.Read.All: Read device configurations
externalDocs:
  description: Intune Graph API Overview
  url: https://learn.microsoft.com/en-us/graph/intune-concept-overview
