openapi: 3.2.0
info:
  title: Microsoft Bing Search Video Search API
  description: Integrate Bing search capabilities into applications including web search, image search, news search, and video search.
  version: '7.0'
  contact:
    name: Bing Search APIs Support
    url: https://www.microsoft.com/en-us/bing/apis/
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.bing.microsoft.com/v7.0
  description: Bing Search API v7
security:
- apiKey: []
tags:
- name: Video Search
  description: Search for videos
paths:
  /videos/search:
    get:
      operationId: videoSearch
      summary: Microsoft Video search
      description: Returns videos relevant to the given search query.
      tags:
      - Video Search
      parameters:
      - name: q
        in: query
        required: true
        description: The search query string
        schema:
          type: string
      - name: count
        in: query
        schema:
          type: integer
          default: 35
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: mkt
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Video search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSearchResponse'
        '401':
          description: Unauthorized
components:
  schemas:
    VideoSearchResponse:
      type: object
      properties:
        _type:
          type: string
        totalEstimatedMatches:
          type: integer
        value:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              contentUrl:
                type: string
              thumbnailUrl:
                type: string
              hostPageUrl:
                type: string
              duration:
                type: string
              datePublished:
                type: string
                format: date-time
              publisher:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
              viewCount:
                type: integer
  securitySchemes:
    apiKey:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
      description: Bing Search API subscription key
externalDocs:
  description: Bing Search APIs Documentation
  url: https://learn.microsoft.com/en-us/bing/search-apis/
