openapi: 3.2.0
info:
  title: LinkedIn Organizations API
  description: APIs for LinkedIn integrations covering member profile, posts, shares, organizations, and marketing solutions.
  version: '2.0'
  contact:
    name: LinkedIn Developer Support
    url: https://developer.linkedin.com/
  termsOfService: https://www.linkedin.com/legal/l/api-terms-of-use
servers:
- url: https://api.linkedin.com/v2
  description: LinkedIn REST API v2
security:
- oauth2: []
tags:
- name: Organizations
  description: Manage organization pages
paths:
  /organizationalEntityAcls:
    get:
      operationId: listOrganizationAccess
      summary: List organization access
      description: Find organizations for which the authenticated member has admin access.
      tags:
      - Organizations
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          default: roleAssignee
      - name: role
        in: query
        required: true
        schema:
          type: string
          default: ADMINISTRATOR
      - name: projection
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of organization access control entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      type: object
                      properties:
                        organizationalTarget:
                          type: string
                        role:
                          type: string
                        state:
                          type: string
        '401':
          description: Unauthorized
  /organizations/{organizationId}:
    get:
      operationId: getOrganization
      summary: Get an organization
      description: Retrieve the details of an organization page.
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized
        '404':
          description: Organization not found
components:
  schemas:
    Organization:
      type: object
      properties:
        id:
          type: integer
        localizedName:
          type: string
        localizedDescription:
          type: string
        vanityName:
          type: string
        localizedWebsite:
          type: string
        logoV2:
          type: object
          properties:
            original:
              type: string
        organizationType:
          type: string
        staffCountRange:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: LinkedIn OAuth 2.0
      flows:
        authorizationCode:
          authorizationUrl: https://www.linkedin.com/oauth/v2/authorization
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            openid: OpenID Connect
            profile: Read member profile
            email: Read member email
            w_member_social: Post, comment, and like on behalf of member
            r_organization_social: Read organization posts
            w_organization_social: Write organization posts
            r_ads: Read advertising data
            rw_ads: Read and write advertising data
externalDocs:
  description: LinkedIn API Documentation
  url: https://learn.microsoft.com/en-us/linkedin/
