openapi: 3.2.0
info:
  title: Microsoft Azure REST Resource Groups API
  description: REST APIs for managing Azure resources and services including subscriptions, resource groups, and deployments through the Azure Resource Manager.
  version: '2024-03-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://management.azure.com
  description: Azure Resource Manager Production
security:
- oauth2: []
tags:
- name: Resource Groups
  description: Manage Azure resource groups
paths:
  /subscriptions/{subscriptionId}/resourcegroups:
    get:
      operationId: listResourceGroups
      summary: Microsoft List resource groups
      description: Gets all the resource groups for a subscription.
      tags:
      - Resource Groups
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/filterParam'
      - $ref: '#/components/parameters/topParam'
      responses:
        '200':
          description: List of resource groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupListResult'
        '401':
          description: Unauthorized
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}:
    get:
      operationId: getResourceGroup
      summary: Microsoft Get a resource group
      description: Gets a resource group.
      tags:
      - Resource Groups
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: Resource group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
        '401':
          description: Unauthorized
        '404':
          description: Resource group not found
    put:
      operationId: createOrUpdateResourceGroup
      summary: Microsoft Create or update a resource group
      description: Creates or updates a resource group.
      tags:
      - Resource Groups
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/apiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroup'
      responses:
        '200':
          description: Resource group updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
        '201':
          description: Resource group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
    delete:
      operationId: deleteResourceGroup
      summary: Microsoft Delete a resource group
      description: Deletes a resource group and all of its resources.
      tags:
      - Resource Groups
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: Resource group deleted
        '202':
          description: Accepted - deletion in progress
        '401':
          description: Unauthorized
        '404':
          description: Resource group not found
components:
  parameters:
    resourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group
      schema:
        type: string
    filterParam:
      name: $filter
      in: query
      description: OData filter expression
      schema:
        type: string
    topParam:
      name: $top
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
    apiVersion:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation
      schema:
        type: string
        default: '2024-03-01'
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription
      schema:
        type: string
        format: uuid
  schemas:
    ResourceGroupListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ResourceGroup'
        nextLink:
          type: string
    ResourceGroup:
      type: object
      required:
      - location
      properties:
        id:
          type: string
          description: Resource group ID
          readOnly: true
        name:
          type: string
          description: Resource group name
          readOnly: true
        type:
          type: string
          description: Resource type
          readOnly: true
        location:
          type: string
          description: Resource group location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource group tags
        properties:
          type: object
          properties:
            provisioningState:
              type: string
              description: The provisioning state
              readOnly: true
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
externalDocs:
  description: Azure REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/azure/
