openapi: 3.2.0
info:
  title: Microsoft Teams API
  version: '1.0'
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
  description: 'Operations tagged Teams across 2 of this provider''s published API definitions: microsoft-graph-openapi.yml, microsoft-teams-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 (General Availability)
- url: https://graph.microsoft.com/beta
  description: Microsoft Graph Beta (Preview)
security:
- oauth2: []
tags:
- name: Teams
  description: Manage Microsoft Teams resources
paths:
  /teams:
    get:
      operationId: listTeams
      summary: Microsoft List teams
      description: List all teams in an organization.
      tags:
      - Teams
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Collection of teams
          content:
            application/json:
              schema:
                type: object
                properties:
                  '@odata.context':
                    type: string
                  '@odata.nextLink':
                    type: string
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createTeam
      summary: Microsoft Create a team
      description: Create a new team.
      tags:
      - Teams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamRequest'
      responses:
        '202':
          description: Team creation accepted
          headers:
            Location:
              schema:
                type: string
              description: URL to poll for team creation status
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
    servers:
    - url: https://graph.microsoft.com/v1.0
      description: Microsoft Graph v1.0 (General Availability)
    - url: https://graph.microsoft.com/beta
      description: Microsoft Graph Beta (Preview)
  /teams/{team-id}:
    get:
      operationId: getTeam
      summary: Microsoft Get team
      description: Retrieve the properties and relationships of the specified team.
      tags:
      - Teams
      parameters:
      - $ref: '#/components/parameters/teamId'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Team object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateTeam
      summary: Microsoft Update team
      description: Update the properties of the specified team.
      tags:
      - Teams
      parameters:
      - $ref: '#/components/parameters/teamId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Team'
      responses:
        '204':
          description: Team updated successfully
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTeam
      summary: Microsoft Delete team
      description: Delete a team. When deleted, Microsoft 365 groups are moved to a temporary container and can be restored within 30 days.
      tags:
      - Teams
      parameters:
      - $ref: '#/components/parameters/teamId'
      responses:
        '204':
          description: Team deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
    servers:
    - url: https://graph.microsoft.com/v1.0
      description: Microsoft Graph v1.0 (General Availability)
    - url: https://graph.microsoft.com/beta
      description: Microsoft Graph Beta (Preview)
  /teams/{team-id}/channels:
    get:
      operationId: listChannels
      summary: Microsoft List channels
      description: Retrieve the list of channels in this team.
      tags:
      - Teams
      parameters:
      - $ref: '#/components/parameters/teamId'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: Collection of channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Channel'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createChannel
      summary: Microsoft Create channel
      description: Create a new channel in a team as specified in the request body.
      tags:
      - Teams
      parameters:
      - $ref: '#/components/parameters/teamId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
      responses:
        '201':
          description: Channel created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
    servers:
    - url: https://graph.microsoft.com/v1.0
      description: Microsoft Graph v1.0 (General Availability)
    - url: https://graph.microsoft.com/beta
      description: Microsoft Graph Beta (Preview)
  /teams/{team-id}/channels/{channel-id}/messages:
    get:
      operationId: listChannelMessages
      summary: Microsoft List channel messages
      description: Retrieve the list of messages (without the replies) in a channel of a team. To get the replies for a message, call the list message replies or the get message reply API.
      tags:
      - Teams
      parameters:
      - $ref: '#/components/parameters/teamId'
      - $ref: '#/components/parameters/channelId'
      - $ref: '#/components/parameters/top'
      responses:
        '200':
          description: Collection of chat messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChatMessage'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: sendChannelMessage
      summary: Microsoft Send channel message
      description: Send a new chatMessage in the specified channel.
      tags:
      - Teams
      parameters:
      - $ref: '#/components/parameters/teamId'
      - $ref: '#/components/parameters/channelId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessage'
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
    servers:
    - url: https://graph.microsoft.com/v1.0
      description: Microsoft Graph v1.0 (General Availability)
    - url: https://graph.microsoft.com/beta
      description: Microsoft Graph Beta (Preview)
  /teams/{teamId}:
    get:
      operationId: getTeam
      summary: Microsoft Get a team
      description: Retrieve the properties and relationships of the specified team.
      tags:
      - Teams
      parameters:
      - $ref: '#/components/parameters/teamId_2'
      responses:
        '200':
          description: Team details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team_2'
        '401':
          description: Unauthorized
        '404':
          description: Team not found
    patch:
      operationId: updateTeam
      summary: Microsoft Update a team
      description: Update the properties of a team.
      tags:
      - Teams
      parameters:
      - $ref: '#/components/parameters/teamId_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamRequest'
      responses:
        '204':
          description: Team updated
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '404':
          description: Team not found
    delete:
      operationId: deleteTeam
      summary: Microsoft Delete a team
      description: Delete a team and its associated group.
      tags:
      - Teams
      parameters:
      - $ref: '#/components/parameters/teamId_2'
      responses:
        '204':
          description: Team deleted
        '401':
          description: Unauthorized
        '404':
          description: Team not found
    servers:
    - url: https://graph.microsoft.com/v1.0
      description: Microsoft Graph v1.0 Production
components:
  parameters:
    top:
      name: $top
      in: query
      required: false
      description: Number of items to return (page size)
      schema:
        type: integer
        minimum: 1
    filter:
      name: $filter
      in: query
      required: false
      description: OData filter expression
      schema:
        type: string
    channelId:
      name: channel-id
      in: path
      required: true
      description: Unique identifier of the channel
      schema:
        type: string
    teamId:
      name: team-id
      in: path
      required: true
      description: Unique identifier of the team
      schema:
        type: string
    select:
      name: $select
      in: query
      required: false
      description: Comma-separated list of properties to include in the response
      schema:
        type: string
    top_2:
      name: $top
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
    filter_2:
      name: $filter
      in: query
      description: OData filter expression
      schema:
        type: string
    teamId_2:
      name: teamId
      in: path
      required: true
      description: Team unique identifier
      schema:
        type: string
    select_2:
      name: $select
      in: query
      description: Properties to include in the response
      schema:
        type: string
  schemas:
    ChatMessage:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the message
          readOnly: true
        body:
          type: object
          properties:
            contentType:
              type: string
              enum:
              - text
              - html
            content:
              type: string
        from:
          type: object
          properties:
            user:
              type: object
              properties:
                id:
                  type: string
                displayName:
                  type: string
                userIdentityType:
                  type: string
        messageType:
          type: string
          enum:
          - message
          - chatEvent
          - typing
          - unknownFutureValue
          - systemEventMessage
          description: Type of chat message
        importance:
          type: string
          enum:
          - normal
          - high
          - urgent
        createdDateTime:
          type: string
          format: date-time
          readOnly: true
        lastModifiedDateTime:
          type: string
          format: date-time
          readOnly: true
        subject:
          type: string
          description: Subject of the chat message (only for channel messages)
        summary:
          type: string
          description: Summary text for push notifications and previews
        webUrl:
          type: string
          format: uri
          readOnly: true
    Channel:
      type: object
      properties:
        id:
          type: string
          description: Channel unique identifier
          readOnly: true
        displayName:
          type: string
          description: Channel name as it appears in Microsoft Teams
        description:
          type: string
          description: Optional textual description for the channel
        membershipType:
          type: string
          enum:
          - standard
          - private
          - shared
          description: Type of channel
        email:
          type: string
          format: email
          description: Email address for sending messages to the channel
          readOnly: true
        webUrl:
          type: string
          format: uri
          description: Hyperlink for the channel in Microsoft Teams
          readOnly: true
        createdDateTime:
          type: string
          format: date-time
          readOnly: true
    Team:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the team
          readOnly: true
        displayName:
          type: string
          description: Name of the team
        description:
          type: string
          description: Optional description for the team
        internalId:
          type: string
          description: Unique ID for the team used in a few places such as the audit log
          readOnly: true
        isArchived:
          type: boolean
          description: Whether the team is in read-only mode
        visibility:
          type: string
          enum:
          - private
          - public
          description: Visibility of the group and team
        webUrl:
          type: string
          format: uri
          description: Hyperlink to the team in Microsoft Teams client
          readOnly: true
        createdDateTime:
          type: string
          format: date-time
          readOnly: true
        memberSettings:
          type: object
          properties:
            allowCreateUpdateChannels:
              type: boolean
            allowDeleteChannels:
              type: boolean
            allowAddRemoveApps:
              type: boolean
            allowCreateUpdateRemoveTabs:
              type: boolean
            allowCreateUpdateRemoveConnectors:
              type: boolean
        guestSettings:
          type: object
          properties:
            allowCreateUpdateChannels:
              type: boolean
            allowDeleteChannels:
              type: boolean
        messagingSettings:
          type: object
          properties:
            allowUserEditMessages:
              type: boolean
            allowUserDeleteMessages:
              type: boolean
            allowTeamMentions:
              type: boolean
            allowChannelMentions:
              type: boolean
        funSettings:
          type: object
          properties:
            allowGiphy:
              type: boolean
            giphyContentRating:
              type: string
              enum:
              - strict
              - moderate
            allowStickersAndMemes:
              type: boolean
            allowCustomMemes:
              type: boolean
    ODataError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
            message:
              type: string
              description: Human-readable error message
            innerError:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                request-id:
                  type: string
                client-request-id:
                  type: string
    UpdateTeamRequest:
      type: object
      properties:
        displayName:
          type: string
        description:
          type: string
        visibility:
          type: string
    CreateTeamRequest:
      type: object
      required:
      - displayName
      properties:
        displayName:
          type: string
        description:
          type: string
        visibility:
          type: string
          enum:
          - private
          - public
    Team_2:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        description:
          type: string
        isArchived:
          type: boolean
        webUrl:
          type: string
        visibility:
          type: string
          enum:
          - private
          - public
        funSettings:
          type: object
          properties:
            allowGiphy:
              type: boolean
            allowStickersAndMemes:
              type: boolean
        memberSettings:
          type: object
          properties:
            allowCreateUpdateChannels:
              type: boolean
            allowDeleteChannels:
              type: boolean
            allowAddRemoveApps:
              type: boolean
    TeamCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        value:
          type: array
          items:
            $ref: '#/components/schemas/Team_2'
  responses:
    Unauthorized:
      description: Unauthorized - authentication required or token expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
    BadRequest:
      description: Bad request - invalid input or malformed request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft identity platform OAuth 2.0 authorization
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            User.Read: Read the signed-in user's profile
            User.ReadWrite: Read and update the signed-in user's profile
            User.Read.All: Read all users' full profiles
            User.ReadWrite.All: Read and write all users' full profiles
            Group.Read.All: Read all groups
            Group.ReadWrite.All: Read and write all groups
            Mail.Read: Read user mail
            Mail.ReadWrite: Read and write user mail
            Mail.Send: Send mail as a user
            Calendars.Read: Read user calendars
            Calendars.ReadWrite: Read and write user calendars
            Files.Read: Read user files
            Files.ReadWrite: Read and write user files
            Files.Read.All: Read all files that user can access
            Team.ReadBasic.All: Read the names and descriptions of teams
            Channel.ReadBasic.All: Read channel names and descriptions
            ChannelMessage.Read.All: Read all channel messages
            ChannelMessage.Send: Send channel messages
            Application.Read.All: Read all applications
            Application.ReadWrite.All: Read and write all applications
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Default scope for application permissions
x-refined-from:
- microsoft-graph-openapi.yml
- microsoft-teams-openapi.yml
