openapi: 3.2.0
info:
  title: Microsoft Teams Messages API
  description: Build apps and bots for Microsoft Teams via Microsoft Graph. Manage teams, channels, messages, members, and tabs programmatically.
  version: '1.0'
  contact:
    name: Microsoft Teams Developer Support
    url: https://developer.microsoft.com/en-us/microsoft-teams
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 Production
security:
- oauth2: []
tags:
- name: Messages
  description: Send and manage channel messages
paths:
  /teams/{teamId}/channels/{channelId}/messages:
    get:
      operationId: listChannelMessages
      summary: Microsoft List channel messages
      description: Retrieve the list of messages in a channel.
      tags:
      - Messages
      parameters:
      - $ref: '#/components/parameters/teamId'
      - $ref: '#/components/parameters/channelId'
      - $ref: '#/components/parameters/top'
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageCollection'
        '401':
          description: Unauthorized
    post:
      operationId: sendChannelMessage
      summary: Microsoft Send a channel message
      description: Send a new message to a channel.
      tags:
      - Messages
      parameters:
      - $ref: '#/components/parameters/teamId'
      - $ref: '#/components/parameters/channelId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatMessageRequest'
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
components:
  parameters:
    top:
      name: $top
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
    channelId:
      name: channelId
      in: path
      required: true
      description: Channel unique identifier
      schema:
        type: string
    teamId:
      name: teamId
      in: path
      required: true
      description: Team unique identifier
      schema:
        type: string
  schemas:
    ChatMessage:
      type: object
      properties:
        id:
          type: string
        messageType:
          type: string
        createdDateTime:
          type: string
          format: date-time
        from:
          type: object
          properties:
            user:
              type: object
              properties:
                id:
                  type: string
                displayName:
                  type: string
        body:
          type: object
          properties:
            contentType:
              type: string
              enum:
              - text
              - html
            content:
              type: string
        importance:
          type: string
          enum:
          - normal
          - high
          - urgent
    ChatMessageCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        value:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
    CreateChatMessageRequest:
      type: object
      required:
      - body
      properties:
        body:
          type: object
          required:
          - content
          properties:
            contentType:
              type: string
              enum:
              - text
              - html
              default: text
            content:
              type: string
        importance:
          type: string
          enum:
          - normal
          - high
          - urgent
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 via Microsoft identity platform
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Team.ReadBasic.All: Read teams
            Team.Create: Create teams
            Channel.ReadBasic.All: Read channels
            ChannelMessage.Read.All: Read channel messages
            ChannelMessage.Send: Send channel messages
            TeamMember.Read.All: Read team members
externalDocs:
  description: Microsoft Teams API Overview
  url: https://learn.microsoft.com/en-us/graph/teams-concept-overview
