openapi: 3.2.0
info:
  title: Microsoft Azure REST Resources API
  description: REST APIs for managing Azure resources and services including subscriptions, resource groups, and deployments through the Azure Resource Manager.
  version: '2024-03-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://management.azure.com
  description: Azure Resource Manager Production
security:
- oauth2: []
tags:
- name: Resources
  description: Manage Azure resources
paths:
  /subscriptions/{subscriptionId}/resources:
    get:
      operationId: listResources
      summary: Microsoft List all resources in a subscription
      description: Get all the resources in a subscription.
      tags:
      - Resources
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/apiVersion'
      - $ref: '#/components/parameters/filterParam'
      - $ref: '#/components/parameters/topParam'
      responses:
        '200':
          description: List of resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
        '401':
          description: Unauthorized
components:
  parameters:
    filterParam:
      name: $filter
      in: query
      description: OData filter expression
      schema:
        type: string
    topParam:
      name: $top
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
    apiVersion:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation
      schema:
        type: string
        default: '2024-03-01'
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription
      schema:
        type: string
        format: uuid
  schemas:
    GenericResource:
      type: object
      properties:
        id:
          type: string
          description: Resource ID
        name:
          type: string
          description: Resource name
        type:
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
        sku:
          type: object
          properties:
            name:
              type: string
            tier:
              type: string
            size:
              type: string
        kind:
          type: string
    ResourceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GenericResource'
        nextLink:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
externalDocs:
  description: Azure REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/azure/
