openapi: 3.2.0
info:
  title: Microsoft Power BI REST Dashboards API
  description: REST APIs for embedded analytics, administration, governance, and content management in Power BI including datasets, reports, dashboards, groups, and imports.
  version: '1.0'
  contact:
    name: Power BI Developer Support
    url: https://learn.microsoft.com/en-us/power-bi/developer/
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.powerbi.com/v1.0/myorg
  description: Power BI REST API
security:
- oauth2: []
tags:
- name: Dashboards
  description: Manage Power BI dashboards
paths:
  /dashboards:
    get:
      operationId: listDashboards
      summary: Microsoft List dashboards
      description: Returns a list of dashboards from My workspace.
      tags:
      - Dashboards
      responses:
        '200':
          description: List of dashboards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardCollection'
        '401':
          description: Unauthorized
  /dashboards/{dashboardId}:
    get:
      operationId: getDashboard
      summary: Microsoft Get a dashboard
      description: Returns the specified dashboard from My workspace.
      tags:
      - Dashboards
      parameters:
      - $ref: '#/components/parameters/dashboardId'
      responses:
        '200':
          description: Dashboard details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '401':
          description: Unauthorized
        '404':
          description: Dashboard not found
  /dashboards/{dashboardId}/tiles:
    get:
      operationId: listTiles
      summary: Microsoft List dashboard tiles
      description: Returns a list of tiles within the specified dashboard.
      tags:
      - Dashboards
      parameters:
      - $ref: '#/components/parameters/dashboardId'
      responses:
        '200':
          description: List of tiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TileCollection'
        '401':
          description: Unauthorized
components:
  schemas:
    TileCollection:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
              embedUrl:
                type: string
              reportId:
                type: string
              datasetId:
                type: string
    Dashboard:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        isReadOnly:
          type: boolean
        embedUrl:
          type: string
        webUrl:
          type: string
    DashboardCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        value:
          type: array
          items:
            $ref: '#/components/schemas/Dashboard'
  parameters:
    dashboardId:
      name: dashboardId
      in: path
      required: true
      description: Dashboard unique identifier
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://analysis.windows.net/powerbi/api/.default: Access Power BI
externalDocs:
  description: Power BI REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/power-bi/
