openapi: 3.2.0
info:
  title: Microsoft Power BI REST Imports API
  description: REST APIs for embedded analytics, administration, governance, and content management in Power BI including datasets, reports, dashboards, groups, and imports.
  version: '1.0'
  contact:
    name: Power BI Developer Support
    url: https://learn.microsoft.com/en-us/power-bi/developer/
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.powerbi.com/v1.0/myorg
  description: Power BI REST API
security:
- oauth2: []
tags:
- name: Imports
  description: Import content into Power BI
paths:
  /imports:
    post:
      operationId: importFile
      summary: Microsoft Import a PBIX file
      description: Imports a Power BI .pbix file into My workspace.
      tags:
      - Imports
      parameters:
      - name: datasetDisplayName
        in: query
        required: true
        description: Display name for the dataset
        schema:
          type: string
      - name: nameConflict
        in: query
        description: Action on name conflict
        schema:
          type: string
          enum:
          - Ignore
          - Abort
          - Overwrite
          - CreateOrOverwrite
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Import details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Import'
        '202':
          description: Import accepted
        '401':
          description: Unauthorized
components:
  schemas:
    Report:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        datasetId:
          type: string
        webUrl:
          type: string
        embedUrl:
          type: string
        reportType:
          type: string
    Dataset:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        configuredBy:
          type: string
        isRefreshable:
          type: boolean
        isEffectiveIdentityRequired:
          type: boolean
        isOnPremGatewayRequired:
          type: boolean
        addRowsAPIEnabled:
          type: boolean
        webUrl:
          type: string
        createdDate:
          type: string
          format: date-time
    Import:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        importState:
          type: string
          enum:
          - Publishing
          - Succeeded
          - Failed
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/Dataset'
        reports:
          type: array
          items:
            $ref: '#/components/schemas/Report'
        createdDateTime:
          type: string
          format: date-time
        updatedDateTime:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://analysis.windows.net/powerbi/api/.default: Access Power BI
externalDocs:
  description: Power BI REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/power-bi/
