openapi: 3.2.0
info:
  title: Microsoft OneDrive Sharing API
  description: Access and manage files stored in OneDrive and SharePoint through Microsoft Graph. Upload, download, share, and organize files and folders.
  version: '1.0'
  contact:
    name: OneDrive Developer Support
    url: https://developer.microsoft.com/en-us/onedrive
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 Production
security:
- oauth2: []
tags:
- name: Sharing
  description: Share files and folders
paths:
  /me/drive/items/{itemId}/createLink:
    post:
      operationId: createSharingLink
      summary: Microsoft Create a sharing link
      description: Create a new sharing link for a DriveItem.
      tags:
      - Sharing
      parameters:
      - $ref: '#/components/parameters/itemId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - type
              properties:
                type:
                  type: string
                  enum:
                  - view
                  - edit
                  - embed
                scope:
                  type: string
                  enum:
                  - anonymous
                  - organization
                expirationDateTime:
                  type: string
                  format: date-time
                password:
                  type: string
      responses:
        '201':
          description: Sharing link created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
        '401':
          description: Unauthorized
components:
  parameters:
    itemId:
      name: itemId
      in: path
      required: true
      description: Drive item unique identifier
      schema:
        type: string
  schemas:
    Permission:
      type: object
      properties:
        id:
          type: string
        link:
          type: object
          properties:
            type:
              type: string
            scope:
              type: string
            webUrl:
              type: string
        roles:
          type: array
          items:
            type: string
        expirationDateTime:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 via Microsoft identity platform
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Files.Read: Read user files
            Files.ReadWrite: Read and write user files
            Files.Read.All: Read all files user can access
            Files.ReadWrite.All: Full access to all files
externalDocs:
  description: OneDrive REST API Reference
  url: https://learn.microsoft.com/en-us/onedrive/developer/rest-api/
