openapi: 3.2.0
info:
  title: Microsoft Entra ID OAuth2 Permissions API
  description: APIs for identity and access management including user authentication, authorization, application registrations, service principals, and directory services via Microsoft Graph.
  version: '1.0'
  contact:
    name: Microsoft Entra Support
    url: https://learn.microsoft.com/en-us/entra/identity-platform/
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0
security:
- oauth2: []
tags:
- name: OAuth2 Permissions
  description: Manage OAuth2 permission grants
paths:
  /oauth2PermissionGrants:
    get:
      operationId: listOAuth2PermissionGrants
      summary: Microsoft List OAuth2 permission grants
      description: Retrieve a list of oAuth2PermissionGrant objects.
      tags:
      - OAuth2 Permissions
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/top'
      responses:
        '200':
          description: List of permission grants
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/OAuth2PermissionGrant'
        '401':
          description: Unauthorized
    post:
      operationId: createOAuth2PermissionGrant
      summary: Microsoft Create a delegated permission grant
      description: Create a delegated permission grant.
      tags:
      - OAuth2 Permissions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuth2PermissionGrant'
      responses:
        '201':
          description: Permission grant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2PermissionGrant'
        '401':
          description: Unauthorized
components:
  schemas:
    OAuth2PermissionGrant:
      type: object
      properties:
        id:
          type: string
        clientId:
          type: string
          description: Object ID of the service principal
        consentType:
          type: string
          enum:
          - AllPrincipals
          - Principal
        principalId:
          type: string
        resourceId:
          type: string
          description: Object ID of the resource service principal
        scope:
          type: string
          description: Space-delimited list of scopes
  parameters:
    top:
      name: $top
      in: query
      description: Maximum number of items
      schema:
        type: integer
    filter:
      name: $filter
      in: query
      description: OData filter expression
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Access Microsoft Graph
            Application.ReadWrite.All: Read and write all applications
            Directory.ReadWrite.All: Read and write directory data
externalDocs:
  description: Microsoft Entra ID Documentation
  url: https://learn.microsoft.com/en-us/entra/identity-platform/
