openapi: 3.2.0
info:
  title: Microsoft Power BI REST Datasets API
  description: REST APIs for embedded analytics, administration, governance, and content management in Power BI including datasets, reports, dashboards, groups, and imports.
  version: '1.0'
  contact:
    name: Power BI Developer Support
    url: https://learn.microsoft.com/en-us/power-bi/developer/
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.powerbi.com/v1.0/myorg
  description: Power BI REST API
security:
- oauth2: []
tags:
- name: Datasets
  description: Manage Power BI datasets
paths:
  /datasets:
    get:
      operationId: listDatasets
      summary: Microsoft List datasets
      description: Returns a list of datasets from My workspace.
      tags:
      - Datasets
      responses:
        '200':
          description: List of datasets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetCollection'
        '401':
          description: Unauthorized
  /datasets/{datasetId}:
    get:
      operationId: getDataset
      summary: Microsoft Get a dataset
      description: Returns the specified dataset from My workspace.
      tags:
      - Datasets
      parameters:
      - $ref: '#/components/parameters/datasetId'
      responses:
        '200':
          description: Dataset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '401':
          description: Unauthorized
        '404':
          description: Dataset not found
    delete:
      operationId: deleteDataset
      summary: Microsoft Delete a dataset
      description: Deletes the specified dataset from My workspace.
      tags:
      - Datasets
      parameters:
      - $ref: '#/components/parameters/datasetId'
      responses:
        '200':
          description: Dataset deleted
        '401':
          description: Unauthorized
        '404':
          description: Dataset not found
  /datasets/{datasetId}/refreshes:
    post:
      operationId: refreshDataset
      summary: Microsoft Trigger dataset refresh
      description: Triggers a refresh for the specified dataset.
      tags:
      - Datasets
      parameters:
      - $ref: '#/components/parameters/datasetId'
      responses:
        '202':
          description: Refresh accepted
        '401':
          description: Unauthorized
        '404':
          description: Dataset not found
    get:
      operationId: listRefreshHistory
      summary: Microsoft List refresh history
      description: Returns the refresh history for the specified dataset.
      tags:
      - Datasets
      parameters:
      - $ref: '#/components/parameters/datasetId'
      - name: $top
        in: query
        description: Number of entries to return
        schema:
          type: integer
      responses:
        '200':
          description: Refresh history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshCollection'
        '401':
          description: Unauthorized
components:
  schemas:
    DatasetCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        value:
          type: array
          items:
            $ref: '#/components/schemas/Dataset'
    Dataset:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        configuredBy:
          type: string
        isRefreshable:
          type: boolean
        isEffectiveIdentityRequired:
          type: boolean
        isOnPremGatewayRequired:
          type: boolean
        addRowsAPIEnabled:
          type: boolean
        webUrl:
          type: string
        createdDate:
          type: string
          format: date-time
    RefreshCollection:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              requestId:
                type: string
              refreshType:
                type: string
              startTime:
                type: string
                format: date-time
              endTime:
                type: string
                format: date-time
              status:
                type: string
                enum:
                - Unknown
                - Completed
                - Failed
                - Cancelled
                - Disabled
  parameters:
    datasetId:
      name: datasetId
      in: path
      required: true
      description: Dataset unique identifier
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://analysis.windows.net/powerbi/api/.default: Access Power BI
externalDocs:
  description: Power BI REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/power-bi/
