openapi: 3.2.0
info:
  title: Microsoft Teams Channels API
  description: Build apps and bots for Microsoft Teams via Microsoft Graph. Manage teams, channels, messages, members, and tabs programmatically.
  version: '1.0'
  contact:
    name: Microsoft Teams Developer Support
    url: https://developer.microsoft.com/en-us/microsoft-teams
  termsOfService: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 Production
security:
- oauth2: []
tags:
- name: Channels
  description: Manage channels within teams
paths:
  /teams/{teamId}/channels:
    get:
      operationId: listChannels
      summary: Microsoft List channels
      description: Retrieve the list of channels in a team.
      tags:
      - Channels
      parameters:
      - $ref: '#/components/parameters/teamId'
      - $ref: '#/components/parameters/select'
      - $ref: '#/components/parameters/filter'
      responses:
        '200':
          description: List of channels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelCollection'
        '401':
          description: Unauthorized
    post:
      operationId: createChannel
      summary: Microsoft Create a channel
      description: Create a new channel in a team.
      tags:
      - Channels
      parameters:
      - $ref: '#/components/parameters/teamId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChannelRequest'
      responses:
        '201':
          description: Channel created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
  /teams/{teamId}/channels/{channelId}:
    get:
      operationId: getChannel
      summary: Microsoft Get a channel
      description: Retrieve the properties of a channel.
      tags:
      - Channels
      parameters:
      - $ref: '#/components/parameters/teamId'
      - $ref: '#/components/parameters/channelId'
      responses:
        '200':
          description: Channel details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '401':
          description: Unauthorized
        '404':
          description: Channel not found
    delete:
      operationId: deleteChannel
      summary: Microsoft Delete a channel
      description: Delete a channel in a team.
      tags:
      - Channels
      parameters:
      - $ref: '#/components/parameters/teamId'
      - $ref: '#/components/parameters/channelId'
      responses:
        '204':
          description: Channel deleted
        '401':
          description: Unauthorized
        '404':
          description: Channel not found
components:
  schemas:
    ChannelCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        value:
          type: array
          items:
            $ref: '#/components/schemas/Channel'
    Channel:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        description:
          type: string
        membershipType:
          type: string
          enum:
          - standard
          - private
          - shared
        email:
          type: string
        webUrl:
          type: string
    CreateChannelRequest:
      type: object
      required:
      - displayName
      properties:
        displayName:
          type: string
        description:
          type: string
        membershipType:
          type: string
          enum:
          - standard
          - private
          - shared
  parameters:
    filter:
      name: $filter
      in: query
      description: OData filter expression
      schema:
        type: string
    channelId:
      name: channelId
      in: path
      required: true
      description: Channel unique identifier
      schema:
        type: string
    teamId:
      name: teamId
      in: path
      required: true
      description: Team unique identifier
      schema:
        type: string
    select:
      name: $select
      in: query
      description: Properties to include in the response
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 via Microsoft identity platform
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Team.ReadBasic.All: Read teams
            Team.Create: Create teams
            Channel.ReadBasic.All: Read channels
            ChannelMessage.Read.All: Read channel messages
            ChannelMessage.Send: Send channel messages
            TeamMember.Read.All: Read team members
externalDocs:
  description: Microsoft Teams API Overview
  url: https://learn.microsoft.com/en-us/graph/teams-concept-overview
